.wrapper {
    margin-bottom: 8px;
}

.menu-item {
    display: flex;
    align-items: center;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    padding: 8px;
    border-radius: 4px;
    transition: background-color ease-in-out 200ms;

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    } 

    &.active {
        color: var(--primary-color);
    }

    &:active {
        background-color: rgba(22, 24, 35, 0.06);

    }
}

.title {
    margin-left: 8px;
}