.wrapper {
    --search-border-radius: 92px;

    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px;
    display: flex;
    justify-content: center;
}

.inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding-left: 16px;
    padding-right: 24px;
    caret-color: var(--primary-color) ;
}
.logo {
}

.search,
.search-result {
    width: 361px;

}
.search {
    position: relative;
    height: 46px;
    padding-left: 16px;
    background-color: rgba(22, 24, 35, 0.06);
    border-radius: var(--search-border-radius);
    display: flex;
    border: 1.5px solid transparent;
    font-size: 1.8rem;

    input {
        flex: 1;
        height: 100%;
        background-color: transparent;
        font-size: 1.6rem;
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22, 24, 35, 0.75);
    }

    &::after {
        position: absolute;
        content: "";
        width: 1px;
        height: 28px;
        top: 50%;
        right: 50px;
        transform: translateY(-50%);
        background-color: rgba(22, 24, 35, 0.12);
    }

    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }
}

.search-result {
    // padding-top: 8px;
}

.search-title {
    color:rgba(22, 24, 35, 0.5);
    font-size: 1.4rem;
 padding: 6px 14px;
}

.loading,
.search-clear {
    position: absolute;
    color: rgba(22, 24, 35, 0.34);
    top: 50%;
    transform: translateY(-50%);
    right: 68px;
    font-size: 1.8rem;
}

.search-btn {
    width: 50px;
    height: 100%;
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    font-size: 2rem;
    color: rgba(22, 24, 35, 0.34);
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background-color: rgba(22, 24, 35, 0.06);
        cursor: pointer;
    }

    &:active {
        background-color: rgba(22, 24, 35, 0.12);
    }
}

.actions {
    display: flex;
    align-items: center;
}

.action-btn {
    background-color: transparent;
    font-size: 2.2rem;
    height: 32px;
    width: 32px;
    margin-right: 16px;
    cursor: pointer;
}

.more-btn {
    font-size: 2rem;
    margin-left: 16px;
    padding: 0 4px;
    background-color: transparent;
    
    &:hover {
        cursor: pointer;
    }
}

.menu-icon {
    width: 20px;

}

.user-avatar {
    height: 32px;
    width: 32px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}





