.wrapper {
    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px;
    display: flex;
    justify-content: center;
}

.inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding-left: 16px;
    padding-right: 24px;
}

.logo {
    display: flex;
}

// Actions
.actions {
    display: flex;
    align-items: center;
}

.action-btn {
    position: relative;
    background-color: transparent;
    font-size: 2.2rem;
    height: 32px;
    width: 32px;
    margin-right: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;

}

.badge {
    position: absolute;
    top: -5px;
    right: -6px;
    // padding: 0px 2px;
    min-width: 2rem;
    height: 2rem;
    line-height: 2rem;
    border-radius: 10px;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--white);
    font-family: var(--font-family);
    background-color: var(--primary-color);
}

.more-btn {
    font-size: 2rem;
    margin-left: 16px;
    padding: 0 4px;
    background-color: transparent;

    &:hover {
        cursor: pointer;
    }
}

.menu-icon {
    width: 20px;
}

.user-avatar {
    height: 32px;
    width: 32px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}
